{% extends "base.html" %} {% block title %}Item{% endblock %}

{% block content%}

<div class="album py-5 bg-light">
    <h1 align="center">{{ current_item.name }}</h1>
    <div class="container">
        <p>{{ current_item.desc }}</p>
        <p>
          {% for topping in current_item.toppings %}
          <input type="checkbox" id="id_{{topping}}" name="toppings" value="{{topping}}">
          <label for="id_{{topping}}">{{ topping }}</label><br>
          {% endfor %}
        </p>
        <div class="addCart", style="text-align:center">
          <button onClick="addToCart(price9)">Add To Cart</button>
        </div>
        <small class="text-muted">{{ current_item.cal }} calories per slice, etc, etc</small>
  </div>






{% endblock %}